*{
  margin: 0;
  padding: 0;
}
.container {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  text-align: center;
  line-height: 32px;
  background-color: #fff;
  margin-top: 100px;
}
.header {
    height: 100px;
}
.header p{
    font-weight: bold;
    font-size: 50px;
}
.input{
  height: 40px;
  width: 300px;
  border: 1px solid #333;
}
.btn-add{
    height: 42px;
    width: 58px;
    border: 1px solid #333;
    background-color: yellow;
    cursor: pointer;
}
.check .content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}
.box {
  align-self: center;
}
.delete{
  margin-top: 20px;
  padding: 10px 15px;
  background: black;
  color: #fff;
  cursor: pointer;
}